@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,900;1,100;1,300;1,500;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.header {
    background-color: #42b983;
    width: 100%;
    height: 45px;
}
.header p {
    color: #d6ffec;
    text-align: center;
    line-height: 2.9rem;
    font-size: 17px;
}
.header p a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.navbar {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    
}
.navbar .logo {
    font-size: 28px;
    margin-top: 5px;
    font-weight: 500;
    width: 30%; 

}

.nav-search {
    width: 5%;
    margin: 20px;
}

.nav-search input {
    border-radius: 3rem;
    padding: 5px 5px 5px 30px;
    border: 1px solid #aeaeae;
}
.nav-search i {
    position: absolute;
}
.icon {
    padding: 8px;
    color: #aeaeae;
}
.navbar-item {
    width: 40%;
    margin-top: 20px;
}
.navbar-item ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navbar-item ul li a {
    text-decoration: none;
    color: rgb(65, 65, 65);
    font-weight: 300;
    font-size: 17px;
    border-bottom: 0 none transparent;
    width: 1px;
    /* transition: all 0.5s ease-out; */
}

.navbar-item ul li a:hover {
    padding-bottom: 5px;
    border-bottom: 4px solid #42b983;
    transition: 0.3s ease-in;
}


/* home */
.vue{
    margin-top: 40px;
    display: flex;
    padding: 30px 0;
}

.vue-left{
    width: 40%;
    /* border: 1px solid #f00; */
    align-content: right;
}

.vue-left img{
    margin-left: 50%;
}

.vue-right{
    width: 60%;
    /* border: 1px solid #0f0; */
    color: #666;

}

.vue-right h1{
    font-size: 50px;   
}

.vue-right p{
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;

}


.vue-right button{
    border-radius: 20px;
    font-weight: 500;
    width:25%;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
}


.vue-right .btn-a{
    background-color: #4fc08d;
    border: 1px solid #4fc08d;
    color: #fff;
    padding: 10px;
}

.btn-b{
    border: 1px solid #4fc08d;
    background: #fff;
    color: #4fc08d;
}

.vue-right .btn-git{
    border: 1px solid #fff;
    color: #666;
}

.vue-right .ic{
    margin-right: 20px;
}


/* sponsers */
.spons{
    width: 100%;
    /* border: 1px solid #f00; */
    margin: 40px 0 30px 0;
}

h3{
    padding: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    color: #444;
    text-align: center;
}

.card{
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0 0 10px 150px;
    width: 77%;
}

.card-layout{
    width: 20%;
}

.card-head{
    color: #42b983;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
}

.card-body{
    color: #333;
    
}

/* vue next */
.vue-next{
    background-color: #eee;
    text-align: center;
    padding: 20px ;
    height: 250px;
}

.vue-next button{
    border-radius: 20px;
    background-color: #eee;
    font-weight: 500;
    width:20%;
    cursor: pointer;
    padding: 15px;
    margin: 50px;
    
}

/* suscribers */
.sub{
    margin-top: 40px;
    display: flex;
    height: 300px;
}

.sub-head{
    text-align: center;
}

.sub input{
    border-radius: 3rem;
    padding: 14px;
    width: 40%;
    border: 1px solid #42b983; 
    margin-left: 150px;

    
}

.sub button {
    width: 10%;
    background-color: #4fc08d;
    border: 1px solid #4fc08d;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
    letter-spacing: 3px;
    position: relative;
    left: -153px;
}



.sub-head p{
    padding: 20px;  
    margin-bottom: 20px;
    color: #444;
    text-align: center;
}

.sub-head p a{
    text-decoration: none;
    color: #2b9c69;
}

/* footer */
.footer{
    background-color: #333;
    text-align: center;
}

.footer i{
    color: #fff;
    padding: 40px 0 30px 0;
}

.footer .foot-down{
    color: #fff;
    font-weight: 300;
    padding-bottom: 40px;
    font-size: 20px;
}

.footer .foot-down a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}